<article id="<%= post.layout %>-<%= post.slug %>" class="article article-type-<%= post.layout %>" itemscope itemprop="blogPost">
  <div class="article-meta">
    
  </div>
  <div class="article-inner">
    <%- partial('post/gallery') %>
    <% if (post.link || post.title){ %>
      <header class="article-header">
        <div class="article-header-wrap">
          <%- partial('post/title', {class_name: 'article-title'}) %>
          <div>
            <%- partial('post/date', {class_name: 'article-date', date_format: null}) %>
          </div>
        </div>
      </header>
    <% } %>
    
        <div class="article-excerpt" itemprop="articleBody">
          <%- partial('post/tag') %>
          <% if (index && theme.excerpt_link){ %>
            <p class="article-more-link">
              <a href="<%- url_for(post.path) %>#more"><%= theme.excerpt_link %></a>
            </p>
          <% } %>
        </div>
      <% if (!index){ %>
        <div class="article-entry" itemprop="articleBody">
          <%- post.content %>
        </div>
      <% } %>
    
  </div>
<% if (!index){ %>
  <footer class="article-footer">
    <!-- <% if (post.comments && config.disqus_shortname){ %>
      <a href="<%- post.permalink %>#disqus_thread" class="article-comment-link"><%= __('comment') %></a>
    <% } %> -->
    <div>
      <%- partial('post/tag') %>
    </div>
    <a data-url="<%- post.permalink %>" data-id="<%= post._id %>" class="article-share-link"><%= __('分享') %></a>
  </footer>
  
    <%- partial('post/nav') %>
  <% } %>
</article>

<% if (!index && post.comments && config.disqus_shortname){ %>
<section id="comments">
  <div id="disqus_thread">
    <noscript>Please enable JavaScript to view the <a href="//disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  </div>
</section>
<% } %>